body{
    background: #1b1b1b;
    color: #f0f4f5;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.formula-car{
    max-width: 95%;
    width: auto;
    margin: 0 auto;
}

body > main{
    flex: 1 0 auto;
    padding: 45px;
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    height: 30px;
    width: auto;
}

.nav{
    display: flex;
    gap: 20px;
}

.nav a{
    text-decoration: none;
    color: #9ba0ab;
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    font-size: normal;
    padding: 8px;
    border-radius: 8px;
    transition: all .2s ease;
}

.nav a.active, .nav a:hover {
    background: rgba(255, 255, 255, 0.04);
    color: #f0f4f5;
    transform: translateY(-2px);
}

.main h1{
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.main p{
    font-family: "Alegreya Sans",sans-serif;
    font-weight: 500;
    font-style: normal;
}

.btn{
    display: inline-block;
    text-decoration: none;
    background: #70000e;
    color: #f0f4f5;
    padding: 12px 20px;
    border-radius: 12px;
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    font-style: normal;
    transition: all 0.2s ease;
}

.btn:hover{
    background: #60020d;
}

footer{
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    background: rgba(0,0,0, 0.04);
}

.controls{
    display: flex;
    gap: 15px;
}

.controls input, .controls select{
    flex: 1;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    background: rgba(255,255,255,0.04);
    color: #9ba0ab;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
    gap: 50px;
    padding: 30px;
    justify-content: center;
}

.card{
    background: linear-gradient(rgba(112,0,14,0.1),rgba(155,160,171,0.1));
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(3,6,12,0.6);
    font-family: "Exo 2", sans-serif;
    font-style: normal;
    transition: all .2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 18px 40px rgba(2,6,12,0.85);
}

.card h3{
    font-size: 17px;
    font-weight: 700;
}

.card .sub{
    font-size: 13px;
    font-weight: 500;
}

.avatar{
    width: 170px;
    height: 170px;
    display: flex;
}

.team-logo{
    height: 30px;
    width: auto;
}

.team-livery{
    height: 50px;
    width: auto;
}

.teams-table{
    margin: 0 auto;
    width: 80%;
    background: rgba(255,255,255,0.03);
    border-radius: 15px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(3,6,12,0.6);
}

.teams-table th, .teams-table td {
    padding: 15px;
    font-family: "Exo 2", sans-serif;
}

.teams-table thead {
  background: #390007;
}

.teams-table tbody tr:hover {
  background: rgba(255,255,255,0.08);
}

.about-section{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.sources{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sources a{
    text-decoration: none;
    color: #f0f4f5;
    transition: color 0.2s ease;
}

.sources a:hover{
    color: #c4c4c4;
    text-decoration: none;
}